<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="32px" fxFlex="80">
    <h1>{{ 'WORKOUT.CREATE.MAIN_TITLE' | translate }}</h1>


    <form nz-form [formGroup]="workoutForm" (ngSubmit)="submitForm(workoutForm.value)">

      <!-- Workout name -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Workout name</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="workoutNameErrorTpl">
          <input nz-input formControlName="workoutName" placeholder="Like 'Boulder 4x4'" />
          <ng-template #workoutNameErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input a workout name
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Energy System -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Energy system</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="energySystemErrorTpl">
          <nz-cascader [formControlName]="'energySystem'" [nzExpandTrigger]="'hover'" [nzOptions]="nzOptions"
            (ngModelChange)="onChanges($event)">
          </nz-cascader>
          <ng-template #energySystemErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please select an energy system
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Synopsis -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Workout in one sentence</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="synopsisErrorTpl">
          <input nz-input formControlName="synopsis"
            placeholder="'4 sets of 4 different boulders in a row, 10 minutes rest between sets'" />
          <ng-template #synopsisErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input a workout synopsis
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Short description -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Short description</nz-form-label>
        <nz-form-control [nzSpan]="12" [nzErrorTip]="shortDescErrorTpl">
          <textarea nz-input [nzAutosize]="{ minRows: 2, maxRows: 10 }" formControlName="shortDescription"
            placeholder="'Choose a set of 4 different boulders, that are medium difficulty for you [...]'">
          </textarea>
          <ng-template #shortDescErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Please input a short description
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <!-- Long description -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Long description</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 50 }" formControlName="longDescription"
            placeholder="'The goal of this workout is to increase local anaerobic endurance through repetition of [...]. This workout should be performed in endurance cycles [...]'">
          </textarea>
        </nz-form-control>
      </nz-form-item>

      <!-- Locations -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Facilities</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select style="width: 100%" formControlName="facility" nzMode="multiple"
            nzPlaceHolder="Select one or many appropriate locations">
            <ng-container *ngFor="let option of locationOptions">
              <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- Experience level -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Recommended experience level</nz-form-label>
        <nz-form-control [nzSpan]="12">
          <nz-select style="width: 100%" formControlName="experienceLevel"
            nzPlaceHolder="Recommended for this experience level">
            <ng-container *ngFor="let option of experienceOptions">
              <nz-option [nzLabel]="option" [nzValue]="option"></nz-option>
            </ng-container>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <!-- Duration -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Approximate total workout duration (minutes)</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="approxDuration" [nzMin]="5" [nzMax]="480" [nzStep]="5">
          </nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Number of sets -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Default number of sets</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="defaultNumberOfSets" [nzMin]="1" [nzMax]="20"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Number of reps per set -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Default number of reps per sets</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="defaultNumberOfRepsPerSet" [nzMin]="1" [nzMax]="50"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Load duration -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Default load duration (seconds)</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="defaultLoadDurationSeconds" [nzMin]="1" [nzMax]="50"
            [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Rest duration between reps -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Default rest duration between reps (seconds)</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="defaultRestDurationBetweenRepsSeconds" [nzMin]="1"
            [nzMax]="360" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>

      <!-- Rest duration between sets -->
      <nz-form-item>
        <nz-form-label [nzSpan]="7">Default rest duration between sets (seconds)</nz-form-label>
        <nz-form-control [nzSpan]="6">
          <nz-input-number style="width: 100%" formControlName="defaultRestDurationBetweenSetsSeconds" [nzMin]="1"
            [nzMax]="600" [nzStep]="1"></nz-input-number>
        </nz-form-control>
      </nz-form-item>


      <!-- Buttons -->
      <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <!-- <button nz-button nzType="primary" [disabled]="!workoutForm.valid">Submit</button> -->
          <button nz-button nzType="primary" [disabled]="!workoutForm.valid">Submit</button>
          <button nz-button nzType="accent">Submit Fake workout</button>
          <button nz-button (click)="resetForm($event)">Reset</button>
        </nz-form-control>
      </nz-form-item>



    </form>



  </div>
</div>
