<div fxLayout="row" fxLayoutAlign="center start">
  <div fxLayout="column" fxLayoutGap="32px" fxFlex="80">
    <h1>{{ 'WORKOUT.CATALOG.MAIN_TITLE' | translate }}</h1>

    <nz-table #workoutTable [nzData]="workouts | async">
      <thead>
        <tr>
          <th>Workout Name</th>
          <th>Synopsis</th>
          <th>Duration</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let workout of workoutTable.data">
          <td>{{ workout?.workoutName }}</td>
          <td>{{ workout?.synopsis }}</td>
          <td>{{ workout?.duration }}</td>
          <td>
            <a>Action 一 {{ workout?.workoutName }}</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a>Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
 </div>
</div>
