<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Monitor</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Workouts" nzIcon="database">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/catalog">Catalog</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Create</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div fxLayout="row" fxLayoutGap="10px" class="app-header">
        <div fxLayout="row" fxFlex="40px" fxLayoutAlign="center center" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </div>

        <!-- Spacer -->
        <div fxLayout="row" fxFlex>
        </div>

        <div fxLayout="row" fxFlex="140px" fxLayoutAlign="right center">
          <!-- language selector -->
          <app-lang-selector></app-lang-selector>
        </div>
      </div>
    </nz-header>

    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
